.App {
  text-align: center;
}

.navigation a.navbar-item{font-family:Consolas,sans-serif;font-weight:500;color:#000}
.navigation a.navbar-item:hover{color:#0bA292}
.introduction h1{font-family:Consolas,sans-serif;font-weight:500;padding-bottom:10px;padding-top:10px}
.introduction h1 span{background-color:#0bA292;padding:10px}
.introduction h2{font-family:Consolas,sans-serif;font-weight:300;padding-top:5px;padding-bottom:5px}
.introduction .social{margin-top:10px}
.introduction .social a{color:grey}
.introduction .social .fa-google-play:hover{color:#0bA292}
.introduction .social .fa-product-hunt:hover{color:#0bA292}
.introduction .social .fa-github:hover{color:#0bA292}
.introduction .social .fa-twitter:hover{color:#0bA292}
.introduction .social .fa-linkedin:hover{color:#0bA292}
.introduction .social .fa-facebook:hover{color:#0bA292}
.introduction .social .fa-instagram:hover{color:#0bA292}
.section.about h1{font-family:Consolas,sans-serif;font-weight:500;margin-bottom:2rem}
.section.about{background-color:#0bA292}
.section.about p{font-family:Consolas,sans-serif;font-weight:400;padding-bottom:30px;margin-left:2%;margin-right:5%}
.section.projects h1{font-family:Consolas,sans-serif;font-weight:500;margin-bottom:2rem}
.section.projects h2{padding-top:20px;font-family:Consolas,sans-serif;font-weight:500}
.section.projects .column img{margin-top:10%}
.section.projects .column h3{font-family:Consolas,sans-serif;font-weight:400;text-align:center}
.section.projects a{font-family:Consolas,sans-serif;font-weight:500;color:#000;border-bottom:2px solid #000;padding-bottom:1.5px}
.section.projects a:hover{color:#0bA292;border-bottom:2px solid #0bA292;padding-bottom:1.5px}
.container.ending{margin:40px}.container.ending h1{font-family:Consolas,sans-serif;font-weight:400}
.container.ending .social{margin-bottom:10px}.container.ending a{font-family:Consolas,sans-serif;font-weight:500;color:#000;border-bottom:2px solid #000;padding-bottom:1.5px}
.container.ending a:hover{color:#0bA292;border-bottom:2px solid #0bA292;padding-bottom:1.5px}
.container.ending .middle-icon{margin-right:10px;margin-left:10px}
.container.blog .title{font-family:Consolas,sans-serif;font-weight:500;color:#000;border-bottom:2px solid #000;padding-bottom:1.5px}
.container.blog .title:hover{color:#0bA292;border-bottom:2px solid #0bA292;padding-bottom:1.5px}
.container.blog .parameters{font-family:Consolas,sans-serif;font-weight:300;margin-top:10px;margin-bottom:10px}
.container.blog .summary{font-family:Consolas,sans-serif;font-weight:400;text-align:justify}
.container.error a{font-family:Consolas,sans-serif;font-weight:500;color:#000;border-bottom:2px solid #000;padding-bottom:1.5px}
.container.error a:hover{color:#0bA292;border-bottom:2px solid #0bA292;padding-bottom:1.5px}
.container.error h1{font-family:Consolas,sans-serif;font-weight:500;padding-bottom:10px;padding-top:10px}
.container.error span{background-color:#0bA292;padding:10px}
.container.error h2{font-family:Consolas,sans-serif;font-weight:300;padding-top:5px;padding-bottom:5px}
.container.post h1.title{font-family:Consolas,sans-serif;font-weight:500;background-color:#0bA292;
  padding: 10px;
}
.container.post h1.parameters{font-family:Consolas,sans-serif;font-weight:300;margin-top:10px;margin-bottom:10px}
.container.post a{font-family:Consolas,sans-serif;font-weight:500;color:#000;border-bottom:2px solid #000;padding-bottom:1.5px}
.container.post a:hover{color:#0bA292;border-bottom:2px solid #0bA292;padding-bottom:1.5px}
.container.post p{font-family:Consolas,sans-serif;font-weight:400;text-align:justify;margin-top:15px;margin-bottom:15px}
.container.post h2{font-family:Consolas,sans-serif;font-weight:500;color:#000;font-size:2rem;margin-top:30px;margin-bottom:20px}
.container.post h3{font-family:Consolas,sans-serif;font-weight:500;font-size:1.25rem;color:#000;margin-top:20px;margin-bottom:10px}
.container.post img{display:block;width:100%;max-width:640px;height:auto;
  margin: 10px auto;
}
.container.post figcaption h4{display:flex;font-family:Consolas,sans-serif;font-weight:300;margin-top:10px;margin-bottom:10px;align-items:center;align-self:center;justify-content:center;align-content:center}
.container.post ul{list-style:disc;margin-left:20px;margin-right:20px}
.container.post li{font-family:Consolas,sans-serif;font-weight:400;text-align:justify;margin-top:15px;margin-bottom:15px}
.polygon { margin-right: 4%; margin-left: 4%;}
@media screen and (max-width: 500px) {
    .polygon { display: none }
}